h1 {
    font-family: 'tahoma';
    text-align: center;
    color: white;
    font-size: 60px;

}

.s1 {
    background: url('img1.jpg');
    background-size: cover;
    background-position: center;
}

.s2 {
    background: url('img2.jpg');
    background-size: cover;
    background-position: center;
}

.s3 {
    background: url('img3.jpg');
    background-size: cover;
    background-position: center;
}

.btn {
    text-align: center;
    margin-top: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 60px;
}

.gt-btn {
    background-color: orange;
    color: white;
}