.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input,
button {
  height: 65px;
  font-size: 1.2rem;
  padding: 0 20px;
  border-radius: 5px;
}
body {
  background: #181818;
}
input {
  background: #2e2e2e;
  border: 0;
  margin-bottom: 2px;
  color: #aaa;
}
button {
  background: #181818;
  border: 1px solid #4d4d4d;
  color: #aaa;
  margin: 20px;
}
a {
  font-family: "Roboto", sans-serif;
  margin: 20px auto;
  color: rgb(250, 250, 250);
}
